@charset "UTF-8";

@media screen and (min-width: 768px) {
    header > i#burguer{
        display: none;
    }    
    menu{
        display: block;
        border: none;
       
    }
    menu > ul > li{
        display: inline-block;
      
    }
    menu > ul > li > a{ 
        border: none;
    }
    main{
        width: 768px;
    }
    

}